@model List<ViewModels.C_PedidoViewModel> 

@{
    ViewData["Title"] = "Pedido Page";
}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Nro</th>
      <th scope="col">Obserbacion</th>
      <th scope="col">Estado</th>
      <th scope="col">Id Cadete</th>
      <th scope="col">Id Cliente</th>

      <th scope="col">Modificar estado </th>
      
    </tr>
  </thead>
@foreach (var item in Model)
{
  <tbody>
    <tr>
      
      <td>@item.Nro</td>
      <td>@item.Obs</td>
      <td>@item.estado</td>
      <td>@item.id_cadete</td>
      <td>@item.id_cliente</td>
      <td>
        <form asp-controller="Cadete" asp-action= "ModificarEstadoPedidos" method="post">
        <input type="number" value=@item.Nro name="id" hidden>
        <input class="btn btn-danger" type="submit" value="Cambiar estado"></form>
      </td>
      
     
    </tr>
   
  </tbody>
    
}
</table>

