@model List<MyApp.Pedido> 


<table class="table">
  <thead>
    <tr>
      <th scope="col">Nro</th>
      <th scope="col">Obserbacion</th>
      <th scope="col">Estado</th>
      <th scope="col">Id Cadete</th>
      <th scope="col">Id Cliente</th>
      <th scope="col">Borrar</th>
      <th scope="col">Por Cliente</th>
      <th scope="col">Por Cadete</th>
    </tr>
  </thead>
@foreach (var item in Model)
{
  <tbody>
    <tr>
      
      <td>@item.Nro</td>
      <td>@item.Obs</td>
      <td>@item.estado</td>
      <td>@item.id_cadete</td>
      <td>@item.id_cliente</td>
      <td>
        <form asp-controller="Pedido" asp-action= "bajaPedido" method="post">
        <input type="number" value=@item.Nro name="id" hidden>
        <input class="btn btn-danger" type="submit" value="Eliminar"></form>
      </td>
      <td>
        <form asp-controller="Pedido" asp-action= "pedidosPorCLiente" method="post">
        
        <input class="btn btn-success" type="submit" value="Ver"> 
    </form>
      </td>
      <td>
        <form asp-controller="Pedido" asp-action= "pedidosPorCadete" method="post">
        
        <input class="btn btn-success" type="submit" value="Ver">
    </form>
      </td>
      <td>
        <form asp-controller="Pedido" asp-action= "cambioCadete" method="post">
        <div><input type="text" name="id"></div> 
        <input type="number" value=@item.Nro name="Nro" hidden>
        
        <input class="btn btn-primary" type="submit" value="Modificar">
        
        
    </form>
      </td>
    </tr>
   
  </tbody>
    
}
</table>


       



